<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="nodeJS Template">
<meta name="author" content="Mark Turner">

<!-- styles -->
<link rel='stylesheet' type="text/css" href='stylesheets/style.css' />
<link rel='stylesheet' type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
<link rel='stylesheet' type='text/css' href='node_modules/leaflet/dist/leaflet.css'/>

<!-- scripts -->

<script type="text/javascript" src='node_modules/jquery/dist/jquery.min.js'></script>
<script type="text/javascript" src='node_modules/bootstrap/dist/js/bootstrap.min.js'></script>
<script type="text/javascript" src='node_modules/leaflet/dist/leaflet.js'></script>
<script type="text/javascript" src='node_modules/angular/angular.min.js'></script>